.footer {
    width: 100%;
    background-color: rgba(186, 192, 149, 1);
    border-top: 3px solid rgba(36, 39, 13, 1);
    padding: 0;
    margin: 0;
}

.container_footer {
    display: grid;
    grid-template-columns: 220px 1.5fr 1fr 1fr 1.5fr;
    gap: 2.5vw;
    align-items: start;
    padding: 0.5vw 2vw 0 1vw;
    width: 100%;
    box-sizing: border-box;
    min-height: 180px;
}

.logo_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.baumanLogo {
    width: 80px;
    height: 80px;
}

.kalm_name {
    font-family: "MyFontBold";
    font-size: clamp(22px, 2vw, 30px);
    color: #24270d;
}

.copy {
    font-family: "MyFontRegular";
    color: #24270d;
    font-size: clamp(10px, 1.1vw, 13px);
}

.list_1 {
    font-family: "MyFontRegular";
    font-size: clamp(16px, 1.3vw, 22px);
    color: #24270d;
    line-height: 1.4;
    margin-top: 0;
}

h4 {
    font-family: "MyFontBold";
    font-size: clamp(18px, 1.5vw, 24px);
    margin-bottom: 0;
    margin-top: 0;
    color: #24270d;
}

a {
    font-family: "MyFontRegular";
    font-size: clamp(16px, 1.3vw, 22px);
    color: #24270d;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

a:hover {
    color: #535725;
}

.list_1 p {
    font-family: "MyFontBold";
    font-size: clamp(8px, 1.5vw, 11px);
    color: #24270d;
}

.list_2, .list_3, .list_4 {
    font-family: "MyFontRegular";
    font-size: clamp(16px, 1.3vw, 22px);
    color: #24270d;
    list-style: none;
    padding: 0;
    line-height: 1.4;
    margin: 0;
}

.list_2 li, .list_3 li {
    margin-bottom: 0;
}

.list_4 p {
    margin: 0;
    font-size: clamp(8px, 1.5vw, 15px);
    color: inherit;
}

@media (max-width: 1100px) {
    .container_footer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1vw;
        padding: 2vw 1vw 0 1vw;
    }
    .baumanLogo {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 800px) {
    .container_footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 2vw;
    }
    .logo_block {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .list_1 {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .list_2, .list_3, .list_4 {
        grid-row: 2/3;
    }
}

@media (max-width: 600px) {
    .container_footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 2vw;
        padding: 2vw 2vw 0 2vw;
    }
    .logo_block, .list_1, .list_2, .list_3, .list_4 {
        font-size: 13px;
    }
    .baumanLogo {
        width: 36px;
        height: 36px;
    }
}