.page{
    display: grid;
}
.container_registration{
    display: grid;
    width: auto;
    height: auto;
}

.form{
    background-color: rgba(251, 255, 227, 1);
    width: 600px ;
    height: 20rem;
    margin: 2rem auto;
    margin-top: -43rem;
    border-style: none;
    border-radius: 25px;
}
.head_word{
    margin: 2.5rem auto;
    font-family: "MyFontBold";
    width: 40rem;
    font-size: 38px;
    color: rgba(36, 39, 13, 1);
    margin-top: 20px;
    margin-left: 4.6rem;
}


.wrapper_inputs{
    width: 37rem;
    margin: 0;
    height: auto;
    display: flex;
    gap: 0rem;
    padding: 0 2 rem;
    align-items: center;
    flex-direction: column;
    margin-top: -1rem;
    border-color: rgba(36, 39, 13, 0.3);
    border-width: 2px;
}
.input{
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(186, 192, 149, 1);
    border-radius: 30px;
    border-style: none;
    outline:none;
    height: 60px;
    font-family: "MyFontRegular";
    font-size: 16px;
    color: rgba(36, 39, 13, 1);
    box-sizing: border-box;
    padding: 1.5rem;
    width: 400px;
    margin-top: 0;
}
.input::placeholder{
    padding-left: 1.5rem;
    font-family: "MyFontRegular";
    color: rgba(36, 39, 13, 0.3);
    position: relative;
    z-index: 1;
    right: 1.5rem;
}
.p{
    position: relative;
    font-family: "MyFontBold";
    font-size: 14px;
    font-weight: 600;
    color: rgba(36, 39, 13, 1);
    margin:0.8rem auto;
}
.label{
    margin: 0rem auto;
}

.button_sent{
    font-family: "MyFontBold";
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 3.8rem auto 2rem;
    width: 20.25rem;
    height: 3.5rem;
    background-color: rgba(36, 39, 13, 1);
    border-radius: 30px ;
    color: rgba(251, 255, 227, 1);
    border-color: rgba(36, 39, 13, 1) ;
    border-style: solid;
    &:hover{
        opacity: 0.7;
    }
    &:active{
        opacity: 1.2;
    }
    margin-top: 2rem;
}

.info_text{
    font-family: "MyFontRegular";
    font-size: 12px;
    color: rgba(36, 39, 13, 1);
    width: 28rem ;
    height: 3.4rem;
    margin-left: 1rem;
    font-weight: 500;
    margin-top: 0.2rem;
}

.image{
    display: inline-block;
    width: 630px;
    height: 765px;
    margin-left: -17rem;
}

.link_restore_password{
    color: rgba(36, 39, 13, 1);
    font-family: "MyFontRegular";
    font-size: 16px;
    margin-left: -12.5rem;
    font-weight: 400;
    margin-top: 0.5rem;
}